DATABASE_URL=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
BOT_TOKEN=
WEB_APP_URL=
ENVIRONMENT=development
SECRET_KEY=
FEEDBACK_CHAT_ID=
ALLOWED_ORIGINS=http://localhost:8080,http://localhost:3000
